/* COMMON SECTION*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    background-color: gray;
    background-image: url(../img/new/background.png);
    background-size:contain;
}

@font-face {
    font-family: lemonMilkItalic;
    src: url(../fonts/LEMONMILK-LightItalic.otf);
}

@font-face {
    font-family: lemonMilkBold;
    src: url(../fonts/LEMONMILK-Bold.otf);
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(158, 158, 158);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 40;
    z-index: 10;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
}

nav ul li:not(:last-child) {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

.pdf-soulters{
    margin: auto;
    display: block;
    width: 90%;
    height: 85%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    align-self: center;
}

.link-daskza{
    align-self: center;
    width: 200px;
    height: auto;
}

.daskza-logo{
    align-self: center;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}