/* COMMON SECTION*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: gray;
    background-image: url(../img/background.png);
    background-size:contain;
    scroll-behavior:smooth;
    overflow-anchor:inherit;
    align-items: center;
}

@font-face {
    font-family: lemonMilkItalic;
    src: url(../fonts/LEMONMILK-LightItalic.otf);
}

@font-face {
    font-family: lemonMilkBold;
    src: url(../fonts/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: madeTommy;
    src: url(../fonts/Tommy-Regular.otf);
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(158, 158, 158);
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

div.nav-effect{
    width: 750px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(150, 150, 150);
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: center;
    align-self: center;
}

nav ul li:not(:last-child) {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-family: madeTommy;
}

img.section-title{
    position: absolute;
    min-width: 650px;
    width: 50%;
    z-index: -10;
    margin-top: 80px;
}

/*BASE SECTION STRUCTURE*/
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.container-webkit-scrollbar {
    display: none;
}
section#header-section{
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-anchor:inherit;
    position: relative;
}
section#aboutme-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
}
section#portfolio-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
}
section#projects-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
}
section#contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

/*BASE SECTION STRUCTURE*/
div.section-port-content{
    width: 100%;
    height: 100%;
    place-items: center;
    display: flex;
    margin: 0;
    position: relative;
    overflow: hidden;
    flex-flow: column;
    justify-content: space-evenly;
    margin-top: 150px;
}
div.slide-left-portfolio{
    height: 40%;
    width: calc(250px * 27);
    display: flex;
    animation: scroll-left 40s linear infinite;
    margin-top: 30px;
    margin-bottom: 50px;
    align-self: flex-end;
}

div.slide-left-portfolio:hover{
    animation-play-state: paused;
}
div.slide-right-portfolio{
    height: 40%;
    width: calc(250px * 27);
    display: flex;
    animation: scroll-right 40s linear infinite;
    margin-bottom: 80px;
    align-self: flex-start;
}
div.slide-right-portfolio:hover{
    animation-play-state: paused;
}

/*PORTFOLIO SECTION*/
div.portfolio-image{
    height: 100%;
    width: 250px;
    display: flex;
    padding: 15px;
    perspective: 100px;
    align-items: flex-end;
    justify-content: center;
}

div.portfolio-image:hover{
    z-index: 10;
}

div.portfolio-image img{
    background-color: bisque;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.25s, filter 0.25s;
    filter: brightness(95%);
    z-index: 1;
    border-radius: 10px;
}

div.portfolio-image img:hover{
    transform: translateZ(20px);
    filter: brightness(100%);
    z-index: 15;
}

@keyframes scroll-right{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}
@keyframes scroll-left{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(250px*9));
    }
}
div#content-images-slider {
    position: absolute;
    top: 0;
    left: 0;
}
div.image-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    z-index: 15;
}
img.inverse-degradade{
    position: absolute;
    z-index: 30;
    width: 100%;
}

/*HEADER SECTION*/
img.header-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*ABOUT ME SECTION*/
div.section-ab-content{
    width: calc(100% - 100px);
    height: calc(100% - 300px);
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    margin-top: 140px;
    position: relative;
}

img.first-effect-image{
    z-index: -50;
    position: absolute;
    right: 0%;
    top: 100%;
    width: 15%;
}

img.second-effect-image{
    z-index: -50;
    position: absolute;
    top: 150%;
    left: 0%;
    width: 20%;
}

div.aboutme-firstdiv-text{
    margin-left: 10px;
    margin-right: 10px;
    min-width: 520px;
    min-height: 300px;
    max-height: 700px;
    width: 35%;
    height: 45%;
    padding-top: 34px;
}
div.aboutme-secdiv-photo{
    margin-left: 10px;
    margin-right: 10px;
    min-width: 500px;
    width: 30%;
    max-height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}
div.aboutme-thirddiv-skills{
    min-width: 500px;
    width: 75%;
    min-height: 400px;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    margin-top: 40px;
}

div.global-abskilldiv{
    background-color: rgba(0,0,0, 0.1);
    border-radius: 10px;
    width: 280px;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 100px;
}

img.ab-josep-photo{
    width: auto;
    max-height: 100%;
}

div.abdiv-social-media{
    position: absolute;
    margin-top: 550px;
    width: 200px;
    display: flex;
    justify-content: center;
}

a.social-media-ablogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

a.social-media-ablogo img{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    -webkit-filter: grayscale(100%);
    transition: -webkit-filter 0.25s;
}

a.social-media-ablogo img:hover{
    -webkit-filter: grayscale(0%);
}

h1 {
    font-family: lemonMilkItalic;
    font-size: 80px;
    text-align: end;
    line-height : 60px;
    color: rgb(35, 35, 52);
}
h2 {
    font-family: lemonMilkItalic;
    font-size: 50px;
    text-align: end;
    line-height : 60px;
    color: rgb(35, 35, 52);
}
h3 {
    font-family: lemonMilkItalic;
    font-size: 20px;
    text-align: start;
    color: white;
    padding-left: 10px;
}

p {
    font-family: madeTommy;
    font-size: 20px;
    margin-bottom: 14px;
}

div.aboutme-subtitleart{
    width: 300px;
    background-color: rgb(35, 35, 52);
    margin-top: 8px;
    margin-bottom: 24px;
}

img.ab-skills-logo{
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

div.ab-skills-text{
    width: 90%;
    height: 200px;
    text-align: center;
}

/*PROJECTS SECTION*/
div.slider{
    width: 100%;
    height: calc(100% - 150px);
    background-color: aqua;
    align-self: flex-end;
    overflow: hidden;
}

div.slides{
    width: 500%;
    height: 100%;
    display: flex;
    align-content: center;
}

.slides input{
    display: none;
}

div.slide{
    width: 20%;
    position: relative;
    transition: 2s;
}

div.slide img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

div.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background-color: azure;
}

#radio1:checked ~ .first{
    margin-left: 0;
    count: 1;
}

#radio2:checked ~ .first{
    margin-left: -20%;
    count: 2;
}

#radio3:checked ~ .first{
    margin-left: -40%;
    count: 3;
}

#radio4:checked ~ .first{
    margin-left: -60%;
    count: 4;
}

#radio5:checked ~ .first{
    margin-left: -80%;
    count: 5;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: calc(100vh - 180px);
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: azure;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: azure;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: azure;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: azure;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: azure;
}

#pass-left-project{
    left: 20px;
    margin-top: calc((100vh - 150px)*0.5 - 30px);
    position: absolute;
    z-index: 30;
    width: 50px;
    height: 60px;
    cursor: pointer;
    background-color: rgb(60, 60, 65);
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#pass-right-project{
    right: 20px;
    margin-top: calc((100vh - 150px)*0.5 - 30px);
    position: absolute;
    z-index: 30;
    width: 50px;
    height: 60px;
    cursor: pointer;
    background-color: rgb(60, 60, 65);
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#pass-left-project:hover{
    background-color: rgb(93, 93, 97);
}

#pass-right-project:hover{
    background-color: rgb(93, 93, 97);
}

img.project-l-arrow{
    padding-bottom: 8px;
    height: 50px;
    transform: rotateZ(180deg);
}

img.project-r-arrow{
    padding-top: 8px;
    height: 50px;
}