/* COMMON SECTION*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: gray;
    background-image: url(../img/background.png);
    background-size:contain;
    scroll-behavior:smooth;
    overflow-anchor:inherit;
    align-items: center;
}

@font-face {
    font-family: lemonMilkItalic;
    src: url(../fonts/LEMONMILK-LightItalic.otf);
}

@font-face {
    font-family: lemonMilkBold;
    src: url(../fonts/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: madeTommy;
    src: url(../fonts/Tommy-Regular.otf);
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(158, 158, 158);
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

div.nav-effect{
    width: 750px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: center;
    align-self: center;
}

nav ul li:not(:last-child) {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-family: madeTommy;
}

img.section-title{
    position: absolute;
    min-width: 650px;
    width: 50%;
    z-index: 1;
    margin-top: 80px;
}

/*BASE SECTION STRUCTURE*/
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.container-webkit-scrollbar {
    display: none;
}
section#header-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
    overflow: hidden;
}
section#aboutme-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
}
section#portfolio-section{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
}
section#projects-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}
section#contact-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 500px;
}

/*BASE SECTION STRUCTURE*/
div.section-port-content{
    width: 100%;
    height: 100%;
    place-items: center;
    display: flex;
    margin: 0;
    position: relative;
    overflow: hidden;
    flex-flow: column;
    justify-content: space-evenly;
    margin-top: 110px;
}
div.slide-left-portfolio{
    z-index: 5;
    height: 40%;
    width: calc(250px * 27);
    display: flex;
    animation: scroll-left 40s linear infinite;
    margin-top: 30px;
    margin-bottom: 50px;
    align-self: flex-end;
}

div.slide-left-portfolio:hover{
    animation-play-state: paused;
}
div.slide-right-portfolio{
    z-index: 5;
    height: 40%;
    width: calc(250px * 27);
    display: flex;
    animation: scroll-right 40s linear infinite;
    margin-bottom: 80px;
    align-self: flex-start;
}
div.slide-right-portfolio:hover{
    animation-play-state: paused;
}

/*PORTFOLIO SECTION*/
div.portfolio-image{
    height: 100%;
    width: 250px;
    display: flex;
    padding: 15px;
    perspective: 100px;
    align-items: flex-end;
    justify-content: center;
}

div.portfolio-image:hover{
    z-index: 10;
}

div.portfolio-image img{
    background-color: bisque;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.25s, filter 0.25s;
    filter: brightness(95%);
    z-index: 1;
    border-radius: 10px;
}

div.portfolio-image img:hover{
    transform: translateZ(20px);
    filter: brightness(100%);
    z-index: 15;
}

@keyframes scroll-right{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}
@keyframes scroll-left{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(250px*9));
    }
}
div#content-images-slider {
    position: absolute;
    top: 0;
    left: 0;
}
div.image-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    z-index: 15;
}
img.inverse-degradade{
    position: absolute;
    z-index: 30;
    width: 100%;
}

/*HEADER SECTION*/
img.header-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
img.header-foliage{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(4px);
}

img.header-daskza{
    z-index: 2;
    width: 30%;
    max-width: 400px;
    min-width: 250px;
    position: absolute;
    top: 75vh;
}

div.header-lowereffect{
    background: linear-gradient(rgba(0,0,0,0), rgba(230, 230, 230, 1));
    width: 100%;
    height: 150px;
    position: absolute;
    top: calc(100% - 150px);
}

div.header-uppereffect{
    background: linear-gradient(rgba(230, 230, 230, 1), rgba(0,0,0,0));
    width: 100%;
    height: 150px;
    position: absolute;
    top: 100%;
}

/*ABOUT ME SECTION*/
div.section-ab-content{
    width: calc(100% - 100px);
    height: calc(100% - 300px);
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    margin-top: 130px;
    position: relative;
}

img.first-effect-image{
    z-index: 50;
    position: absolute;
    right: 0%;
    top: 100%;
    width: 15%;
}

img.second-effect-image{
    z-index: -50;
    position: absolute;
    top: 150%;
    left: 0%;
    width: 20%;
}

img.third-effect-image{
    z-index: -50;
    position: absolute;
    right: 0%;
    width: 40%;
    align-self: flex-end;
}

div.aboutme-firstdiv-text{
    z-index: 5;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 520px;
    min-height: 500px;
    width: 35%;
    padding-top: 34px;
}
div.aboutme-secdiv-photo{
    z-index: 5;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 500px;
    width: 30%;
    max-height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}
div.aboutme-thirddiv-skills{
    min-width: 500px;
    width: 75%;
    min-height: 400px;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    margin-top: 40px;
}

div.global-abskilldiv{
    background-color: rgba(0,0,0, 0.1);
    border-radius: 10px;
    width: 350px;
    height: 360px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img.ab-josep-photo{
    width: auto;
    max-height: 100%;
}

div.abdiv-social-media{
    position: absolute;
    margin-top: 550px;
    width: 200px;
    display: flex;
    justify-content: center;
}

a.social-media-ablogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

a.social-media-ablogo img{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    -webkit-filter: grayscale(100%);
    transition: -webkit-filter 0.25s;
}

a.social-media-ablogo img:hover{
    -webkit-filter: grayscale(0%);
}

h1 {
    font-family: lemonMilkItalic;
    font-size: 80px;
    text-align: end;
    line-height : 60px;
    color: rgb(35, 35, 52);
}
h2 {
    font-family: lemonMilkItalic;
    font-size: 50px;
    text-align: end;
    line-height : 60px;
    color: rgb(35, 35, 52);
}
h3 {
    font-family: lemonMilkItalic;
    font-size: 20px;
    text-align: start;
    color: white;
    padding-left: 10px;
}

p {
    font-family: madeTommy;
    font-size: 20px;
    margin-bottom: 14px;
}

div.aboutme-subtitleart{
    width: 300px;
    background-color: rgb(35, 35, 52);
    margin-top: 8px;
    margin-bottom: 24px;
}

img.ab-skills-logo{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.ab-skills-text{
    width: 90%;
    text-align: center;
}

div.ab-skills-text p{
    font-size: 18px;
}

/*PROJECTS SECTION*/
div.slider{
    z-index: 5;
    width: 100%;
    height: calc(100% - 150px);
    align-self: flex-end;
    overflow: hidden;
}

img.project-gifbackground{
    filter: blur(4px);
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: -2px;
}

div.slides{
    width: 500%;
    height: 100%;
    display: flex;
    align-content: center;
}

.slides input{
    display: none;
}

div.slide{
    width: 20%;
    position: relative;
    transition: 2s;
    overflow: hidden;
}

div.slide img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

div.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -45px;
    display: flex;
    justify-content: center;
    z-index: 30;
}

.manual-btn{
    border: 2px solid rgb(230, 230, 230);;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background-color: azure;
}

#radio1:checked ~ .first{
    margin-left: 0;
    count: 1;
}

#radio2:checked ~ .first{
    margin-left: -20%;
    count: 2;
}

#radio3:checked ~ .first{
    margin-left: -40%;
    count: 3;
}

#radio4:checked ~ .first{
    margin-left: -60%;
    count: 4;
}

#radio5:checked ~ .first{
    margin-left: -80%;
    count: 5;
}

.navigation-auto div{
    border: 2px solid rgba(228, 228, 228, 0.1);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: calc(100vh - 195px);
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color:  rgb(230, 230, 230);;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:  rgb(230, 230, 230);;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:  rgb(230, 230, 230);;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color:  rgb(230, 230, 230);;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color:  rgb(230, 230, 230);;
}

img.project-l-arrow{
    left: calc((100vw / 2) - 170px);
    z-index: 50;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: calc(100vh - 210px);
    background-color: rgb(230, 230, 230);
    transition: filter 0.25s;
}

img.project-r-arrow{
    right: calc((100vw / 2) - 170px);
    z-index: 50;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: calc(100vh - 210px);
    background-color: rgb(230, 230, 230);
    transition: filter 0.25s;
}

.project-l-arrow:hover{
    filter: brightness(0.85); 
}

.project-r-arrow:hover{
    filter: brightness(0.85); 
}

div.project-content{
    top: 0;
    position: absolute;
    margin-left: calc(100vw*0.5 - var(--width)*0.5);
    width: 100vw;
    min-width: 700px;
    height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

a.projects-header-container{
    margin-top: 10px;
    margin-bottom: 4px;
    width: 40%;
    height: calc((100vh - 200px)/5);;
    max-height: 150px;

}

a.projects-header-container img{
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

div.project-text{
    background-color: rgba(0,0,0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display:inline-block;
    width: 50%;
    min-width: 500px;
}

div.project-text p{
    text-align: center;
    color: #fff;
    font-size: 18px;
}

div.project-text p:is(:first-child){
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

iframe{
    border-radius: 10px;
}

div.background-pagesprojects{
    position: absolute;
    width: 100%;
    margin-top: -500px;
    display: flex;
    justify-content: center;
    z-index: 100;
}
a.soulters-pdficon{
    width: 100px;
    transition: filter 0.25s;
}

a.soulters-pdficon:hover{
    filter: brightness(130%);
}

a.soulters-pdficon img{
    border-radius: 10px;
}

/*CONTACT ME SECTION*/
div.contactme-globaldiv{
    width: 60vw;
    min-width: 700px;
    height: 140px;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 100px;
}

div.contact-item{
    width: 30%;
    height: 20vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.contact-item img{
    filter: grayscale(80%);
    width: 70px;
    margin-bottom: 10px;
    transition: filter 0.25s;
}

div.contact-item img:hover{
    filter: grayscale(0%);
}

div.contact-item p{
    justify-self: flex-end;
}

div.final-page-message{
    width: 550px;
    height: 40px;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 8px;
    position: absolute;
    align-self: flex-end;
}

div.final-page-message p{
    text-align: center;
}