/* COMMON SECTION*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: gray;
    background-image: url(../img/new/background.png);
    background-size:contain;
    scroll-behavior: smooth;
}

@font-face {
    font-family: lemonMilkItalic;
    src: url(../fonts/LEMONMILK-LightItalic.otf);
}

@font-face {
    font-family: lemonMilkBold;
    src: url(../fonts/LEMONMILK-Bold.otf);
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(158, 158, 158);
}

section#header-section img{
    width: 100%;
    height: auto;
    z-index: 10;
}

/*NAVIGATION THINGS*/
.sticky-projects-index{
    width: 180px;
    height: 0px;
    position: absolute;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    display: flex;
    align-items: center;
    float: right;
    z-index: 5;
}

div.sticky-projects-index ul{
    list-style-type: none;
    list-style: none;
}

div.sticky-projects-index li a{
    margin-top: 4px;
}

a.activesl{
    font-family: lemonMilkItalic;
    color: royalblue;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

a.deactivesl{
    font-family: lemonMilkItalic;
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

div.section-index-div{
    width: 150px;
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

img#section-separator-img{
    position: relative;
    top: -2px;
    margin-left: 8px;
    width: 14px;
    align-self: flex-end;
    z-index: 5;
}

img.linker-degraded-bar{
    height: 250px;
    position: relative;
    left: -9px;
    top: 15px;
    z-index: 4;
}

/*BASE SECTION STRUCTURE*/
.container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section#header-section{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    overflow: hidden;
}
section#aboutme-section{
    background-color: blue;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}
section#portfolio-section{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}
section#projects-section{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}
section#contact-section{
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

div.section-ab-content{
    width: calc(100% - 150px);
    height: 100%;
    background-color: aliceblue;
}

/*BASE SECTION STRUCTURE*/
div.section-port-content{
    width: calc(100% - 150px);
    height: 100%;
    place-items: center;
    display: flex;
    margin: 0;
    position: relative;
    overflow: hidden;
    flex-flow: column;
    justify-content: space-evenly;
}

div.slide-left-portfolio{
    height: 40%;
    width: calc(250px * 18);
    display: flex;
    animation: scroll-left 40s linear infinite;
}

div.slide-left-portfolio:hover{
    animation-play-state: paused;
}

div.slide-right-portfolio{
    height: 40%;
    width: calc(250px * 18);
    display: flex;
    animation: scroll-right 40s linear infinite;
    align-items: flex-end;
}

div.slide-right-portfolio:hover{
    animation-play-state: paused;
}

div.portfolio-image{
    height: 100%;
    width: 250px;
    display: flex;
    
    padding: 15px;
    perspective: 100px;
}

div.portfolio-image:hover{
    z-index: 10;
}

div.portfolio-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.25s, filter 0.25s;
    filter: brightness(95%);
    z-index: 1;
    border-radius: 10px;
}

div.portfolio-image img:hover{
    transform: translateZ(20px);
    filter: brightness(100%);
    z-index: 400;
}

.section-port-content::before,
.section-port-content::after{
    background: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 2;
}

.section-port-content::before{
    left: 0;
    top: 0;
}

.section-port-content::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

@keyframes scroll-right{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}

@keyframes scroll-left{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(250px*9));
    }
}